{% extends "dj_design_system/gallery/base.html" %}
{% load design_components %}

{% block title %}
    {% if doc_label %}
        {{ doc_label }}
    {% elif node %}
        {{ node.label }}
    {% endif %}
    — {{ design_system_name }}
{% endblock %}

{% block breadcrumb %}
    {% dds__navigation__breadcrumb breadcrumbs %}
{% endblock %}

{% block content %}
    {% dds__layout__page %}
        {% dds__layout__prose %}{{ doc_html|safe }}{% enddds__layout__prose %}
    {% enddds__layout__page %}
{% endblock %}
