{% comment %}Reusable icon renderer for navigation nodes.
Expects: node (NavNode) from context.{% endcomment %}
{% if node.icon %}
    {% if "<svg" in node.icon %}
        <span class="gallery-nav__icon gallery-nav__icon--custom"
              aria-hidden="true">{{ node.icon|safe }}</span>
    {% elif "/" in node.icon or ".svg" in node.icon or "data:" in node.icon %}
        <span class="gallery-nav__icon gallery-nav__icon--custom"
              style="-webkit-mask-image: url('{{ node.icon }}');
                     mask-image: url('{{ node.icon }}')"
              aria-hidden="true"></span>
    {% else %}
        <span class="gallery-nav__icon gallery-nav__icon--custom {{ node.icon }}"
              aria-hidden="true"></span>
    {% endif %}
{% elif node.is_component %}
    {% if node.has_children %}
        <span class="gallery-nav__icon gallery-nav__icon--component-variants"
              aria-hidden="true"></span>
    {% else %}
        <span class="gallery-nav__icon gallery-nav__icon--component"
              aria-hidden="true"></span>
    {% endif %}
{% elif node.is_document %}
    <span class="gallery-nav__icon gallery-nav__icon--doc" aria-hidden="true"></span>
{% elif node.is_variant %}
    <span class="gallery-nav__icon gallery-nav__icon--variant"
          aria-hidden="true"></span>
{% elif node.has_children %}
    <span class="gallery-nav__icon gallery-nav__icon--folder"
          aria-hidden="true"></span>
{% endif %}
