{% load design_components %}
<nav class="dds-breadcrumb" aria-label="{{ aria_label }}">
  <ol class="l-cluster">
    {% for item in normalized_items %}
      <li{% if not forloop.first and not forloop.last %} data-breadcrumb-collapsible{% endif %}>
        {% if not forloop.first %}
          {% dds__icon name=separator_icon size="xs" %}
        {% endif %}
        {% if item.is_current %}
          <span aria-current="page">
            {% if item.has_icon %}
              {% dds__icon name=item.icon size="xs" %}
            {% endif %}
            {{ item.label }}
          </span>
        {% elif item.has_url %}
          <a href="{{ item.url }}">
            {% if item.has_icon %}
              {% dds__icon name=item.icon size="xs" %}
            {% endif %}
            {{ item.label }}
          </a>
        {% else %}
          <span>
            {% if item.has_icon %}
              {% dds__icon name=item.icon size="xs" %}
            {% endif %}
            {{ item.label }}
          </span>
        {% endif %}
      </li>
      {% if forloop.first and has_collapsed_items %}
        <li data-breadcrumb-ellipsis-item>
          {% dds__icon name=separator_icon size="xs" %}
          <dds-popout class="dds-popout" data-align="start" data-state="closed">
            <button type="button" data-popout-trigger data-breadcrumb-ellipsis aria-haspopup="true" aria-expanded="false" aria-label="Show intermediate breadcrumbs">&hellip;</button>
            <div data-popout-menu data-surface="popout" data-breadcrumb-flyout role="menu" aria-label="Intermediate breadcrumbs" hidden>
              {% for collapsed in collapsed_items %}
                {% if collapsed.has_url %}
                  <a href="{{ collapsed.url }}" role="menuitem">{{ collapsed.label }}</a>
                {% else %}
                  <span role="menuitem">{{ collapsed.label }}</span>
                {% endif %}
              {% endfor %}
            </div>
          </dds-popout>
        </li>
      {% endif %}
    {% endfor %}
  </ol>
</nav>
