@layer reset, tokens, global, composition, blocks, utilities;
@import 'tokens.css';
@import 'composition.css';

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  [hidden] {
    display: none;
  }
}

@layer global {
  html,
  body {
    background-color: var(--dds-surface-bg-color);
    block-size: 100%;
    color: var(--dds-text-default-color);
    font-family: var(--dds-text-body-font);
    font-size: var(--dds-text-body-size);
    font-weight: var(--dds-text-body-weight);
    letter-spacing: var(--dds-text-body-letter-spacing);
    line-height: var(--dds-text-body-line-height);
    margin: 0;
    padding: 0;
  }
}
