{% load design_components %}
<dds-code-block class="dds-code-block" data-surface="code" data-language="{{ language }}">
  {% if show_header %}
    <header class="l-cluster">
      {% if header_label %}
        <span data-code-label>{{ header_label }}</span>
      {% endif %}
      {% if copyable %}
        <button type="button" data-copy-trigger aria-label="Copy code">
          {% dds__icon name="copy" size="sm" %}
          <span data-copy-status>Copy</span>
        </button>
      {% endif %}
    </header>
  {% endif %}
  <pre><code data-code-content>{{ stripped_code }}</code></pre>
</dds-code-block>
